<header id="header" class="header">
  <a class="logo" href="/home">
    <img
      src="../../assets/logos/logo.svg"
      height="80px"
      class="logo"
      alt="Sole Haven Logo"
    />
    <h1>SOLE HAVEN</h1>
  </a>

  <nav>
    <ul id="navbar" class="navbar">
      <!-- Public links -->
      <li><a class="active" href="/home">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>

      <!-- Show this only if NOT logged in -->
      <li id="loginButtonContainer">
        <button class="login-btn" onclick="location.href='/login'">
          Log in
        </button>
      </li>

      <!-- Show these only if logged in -->
      <li id="cartButtonContainer">
        <a href="/cart">
          <div class="icon-container">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <div class="badge">4</div>
          </div>
        </a>
      </li>

      <li id="userAvatarContainer" class="user-avatar-dropdown">
        <img
          src="../../assets/users/user1.jpeg"
          alt="user"
          class="avatarBtn"
          id="avatarBtn"
        />

        <div
          class="avatar-dropdown-menu"
          id="avatar-dropdown-menu"
          data-visible="false"
        >
          <a href="/settings"><i class="fa fa-cog"></i> Settings</a>
          <a href="/orders"><i class="fa fa-box"></i> My Orders</a>
          <a href="/home" id="logoutBtn"
            ><i class="fa fa-sign-out-alt"></i> Logout</a
          >
        </div>
      </li>
    </ul>
  </nav>
</header>
