@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: #e6f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
  }
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
.status-message {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 18px;
  gap: 12px;
  animation: slideInFromRight 0.5s ease-out forwards;
  z-index: 1000;
  font-weight: 500;
}
.status-message.hide {
  animation: fadeOut 0.5s ease forwards;
}
.status-message.success {
  color: #088178;
}
.status-message.error {
  color: #e20331;
}

  a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
  a:hover {
    opacity: 0.8;
  }
  button {
    cursor: pointer;
    border: none;
  }

  /* Container */
  .login-page, .signup-page {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
  @media (min-width: 768px) {
    .login-page, .signup-page {
      flex-direction: row;
      padding: 3rem;
    }
  }

  /* Left side image */
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .signup-link{
    margin-top: 0;
    display: flex;
    font-weight: 600;
    font-size: 0.875rem;
    color: #374151;
  }

  /* Right side form */
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.6rem;
    color: #088178;
    margin: 0 0 2rem 0;
    text-align: center;
    width: 100%;
  } 
  h4{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
    color: #088178;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  } 
  form {
    display: flex;
    flex-direction: column;
  }

  /* Input container */
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  .input-group .input-icon-left, .input-group .input-icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 1rem;
    pointer-events: none;
  }
  .input-group .input-icon-left {
    left: 0.75rem;
  }
  .input-group .input-icon-right {
    right: 0.75rem;
    cursor: pointer;
    pointer-events: auto;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d5db;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-size: 1rem;
    color: #374151;
    outline-offset: 2px;
    outline-color: transparent;
    transition: border-color 0.2s;
  }
  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
    color: #a1a1aa;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #399a93;
  }

  /* Checkbox */
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    color: #374151;
  }
  input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    accent-color: #399a93;
    cursor: pointer;
  }

  /* Button */
  button[type="submit"] {
    background-color: #088178;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    border-radius: 0.25rem;
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1.5rem;
    max-width: 200px;
    width: 100%;
    transition: background-color 0.2s;
  }
  button[type="submit"]:hover {
    background-color: #066760;
  }
  

  /* Bottom links container */
  .bottom-links {
    text-align: center;
    font-weight: 600;
    font-size: 0.875rem;
    color: #374151;
  }
  
  /* Forgot Page */
  .forgot-page{
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    text-align: center;
  }

  .forgot-page h2{
    margin-bottom: 1rem;
  }

  .forgot-page p{
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
  }

  .forgot-page form p{
    font-family: "Montserrat";
    font-size: 15px;
    margin-top: 2rem;
    font-weight: 500;
    color: #088178;
  }

  .forgot-page .input-group {
    position: relative;
    width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .forgot-page button[type="submit"] {
    background-color: #088178;
    color: white;
    border-radius: 0.25rem;
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1.5rem;
    max-width: 220px;
    width: 100%;
    align-self: center;
    transition: background-color 0.2s;
  }


  /* Steppper */
   .signup-stepper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 20px;
      width: 400px;
    }
    .signup-stepper .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      position: relative;
      min-width: 40px;
    }
    .signup-stepper .circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-weight: 600;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .signup-stepper .circle.completed {
      background-color: #088178;
      color: white;
    }
    .signup-stepper .circle.completed i {
      font-size: 18px;
    }
    .signup-stepper .circle.current {
      border: 2px solid #088178;
      color: #088178;
      background-color: white;
      font-weight: 700;
    }
    .signup-stepper .circle.upcoming {
      border: 2px solid #9ccdc9;
      color: #9ccdc9;
      background-color: white;
      font-weight: 700;
    }
    .signup-stepper .line {
      height: 2px;
      flex-grow: 0.5;
      background-color: #088178;
      margin-bottom: 20px;
    }
    .signup-stepper .line.inactive {
      background-color: #9ccdc9
    }
    .signup-stepper .label {
      font-size: 14px;
      color: #088178;
      user-select: none;
    }
    .signup-stepper .label.inactive {
      color: #9ccdc9;
      font-size: 14px;
      font-style: normal;
    }
    